# Discord Bot Configuration
## Discord Bot Token
token=
## Discord Bot Owner ID
ownerID=
## Discord Bot Usage Guild ID
usageGuildID=

# Network Configuration
## IP Address of the PC that you want to lunch
ipAddress=
## MAC Address of the PC that you want to lunch
macAddress=